<div id="<%= dom_id tweeet %>" class='px-8'>
  <p>
    <strong class="block font-medium">name @username</strong>
    <%= tweeet.body %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this tweeet", tweeet %>
    <%= link_to 'Edit this tweeet', edit_tweeet_path(tweeet)%>
  <% end %>
</div>
