<section class="w-full flex flex-col items-center">
  <div class="mt-12 rounded-full w-24 h-24 bg-blue-500 block">
  </div>

  <article class="flex flex-col items-center pb-8 mt-6 border-b w-full">
    <h1 class="font-medium text-2xl text-gray-900"><%= @user.name  %></h1>
    <h2 class="text-gray-500">@<%= @user.username  %></h2>
  </article>
</section>
