<header class='flex items-center justify-between py-4 px-8 bg-blue-400'>
  <h1 class="font-bold text-2xl text-gray-100">Twittter</h1>
  <%= link_to 'Sign Up', new_user_registration_path, class: "hidden lg:block rounded-lg py-2 px-8 bg-gray-100 font-bold text-blue-400 block font-medium" %>
  <button class='text-gray-100 p-1 text-2xl lg:hidden'>☰</button>
</header>
