<header class='w-full flex items-center justify-between relative z-50 py-4 px-8 bg-blue-400'>
  <h1 class="font-bold text-2xl text-gray-100">Twittter</h1>
  <%= link_to 'Sign Up', new_user_registration_path, class: "hidden lg:block rounded-lg py-2 px-8 bg-gray-100 font-bold text-blue-400 block font-medium" %>
  <button id="burger" class='text-gray-100 p-1 text-2xl lg:hidden'>☰</button>
  <button id="close-burger" class='hidden'>✕</button>

  <section id="modal-menu"class="hidden">
  <ul class="bg-blue-500 font-bold rounded text-gray-50 shadow-lg w-full flex items-center flex-col absolute top-11">
    <%= link_to 'Register', new_user_registration_path, class: "w-full text-center py-4 border-b" %>
    <li class="w-full text-center py-4 border-b">Tweeet</li>
    <li class="w-full text-center py-4 border-b">Profile</li>
    <li class="w-full text-center py-4">Home</li>
  </ul>
  </section>
</header>
