<div class="flex inset-0 z-20 items-end justify-end w-full h-full pointer-events-none fixed bg-transparent">
  <%= button_to destroy_user_session_path, class: 'lg:w-16 lg:h-16 pointer-events-auto w-12 h-12 m-4 rounded-full bg-blue-800', method: :delete do %>
  <% end %>
</div>